/* Import Google font */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* General styles */

body {
    font-family: 'Oswald', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-weight: 500;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

h2 {
    font-weight: 400;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

h3 {
    font-weight: 300;
    margin-bottom: 1rem;
}

h4 {
    font-weight: 300;
    margin-bottom: 1rem;
    font-size: 1.4rem;
}

p {
    font-weight: 300;
    font-size: 1.2rem;
}

a {
    font-weight: 300;
    font-size: 1.2rem
}

/* Header, logo and nav styles */

header {
    margin-bottom: 1.5rem;
}

.justify-nav {
    justify-content: end;
}

#logo {
    height: 50px;
    width: 154px;
}

/* Home page styles */

.home-main-image {
    background: url(../images/crowd.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    margin-top: -1.5rem;
}

.remove-button-shadow {
    text-shadow: none;
}

.home-main-image-text {
    padding: 1.5rem 0;
}

.have-account {
    padding-top: 0.9rem;
}

.have-account a {
    text-shadow: none;
    color: #fff;
    text-decoration: none;
}

/* Flash message styles */

.flashes-container {
    font-size: 1.5rem;
    background-color: #6c757d;
    color: #fff;
    margin-bottom: 1rem;
}

.flash-text {
    margin-bottom: 0;
    font-size: 1.5rem;
}

/* Italic styling used on new review and register page */

.form-text {
    font-style: italic;
}

/* Container styling used on review details page */

#single-review-container {
    max-width: 900px;
    background-color: rgb(255, 255, 255, 1);
    color: #000;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
}