{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col text-center">
            <h1>Edit Review</h1>
            <hr>
        </div>
    </div>
</div>

<!-- edit review form -->
<div class="container">
    <div class="row justify-content-center ">
        <div class="col-md-8 mb-5">
            <form method="POST" action="{{ url_for('edit_review', review_id=review._id) }}">
                <!-- edit genre dropdown -->
                <div class="mb-3">
                    <i class="fa-solid fa-rectangle-list"></i>
                    <label for="genre-name">Music Genre</label>
                    <select class="form-select" id="genre-name" name="genre_name" required>
                        <option value="" disabled>Please select a genre...</option>
                        {% for genre in genres %}
                        {% if genre.genre_name == review.genre_name %}
                        <option value="{{ genre.genre_name }}" selected>{{ genre.genre_name }}</option>
                        {% else %}
                        <option value="{{ genre.genre_name }}">{{ genre.genre_name }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <!-- edit song name input -->
                <div class="mb-3">
                    <i class="fa-solid fa-music"></i>
                    <label for="song-name" class="form-label">Song Name</label>
                    <input type="text" class="form-control" id="song-name" name="song_name"
                        value="{{ review.song_name }}" required>
                </div>
                <!-- edit artist name input -->
                <div class="mb-3">
                    <i class="fa-solid fa-user-group"></i>
                    <label for="artist-name" class="form-label">Artist Name</label>
                    <input type="text" class="form-control" id="artist-name" name="artist_name"
                        value="{{ review.artist_name }}" required>
                </div>
                <!-- edit explicit language dropdown -->
                <div class="mb-3">
                    <i class="fa-solid fa-triangle-exclamation"></i>
                    <label for="explicit-language">Does this song include explicit language?</label>
                    <select class="form-select" id="explicit-language" name="explicit_language" required>
                        <option value="" disabled>Please select an answer...</option>
                        {% if review.explicit_language == "yes" %}
                        <option value="yes" selected>Yes</option>
                        <option value="no">No</option>
                        {% else %}
                        <option value="yes">Yes</option>
                        <option value="no" selected>No</option>
                        {% endif %}
                    </select>
                </div>
                 <!-- edit review title input -->
                 <div class="mb-3">
                    <i class="fa-solid fa-pencil"></i>
                    <label for="review-title" class="form-label">Review Title</label>
                    <input type="text" class="form-control" id="review-title" name="review_title"
                        value="{{ review.review_title }}" required>
                </div>
                <!-- edit review content input -->
                <div class="mb-3">
                    <i class="fa-solid fa-align-left"></i>
                    <label for="review-content" class="form-label">Review Content</label>
                    <textarea class="form-control" id="review-content" name="review_content" rows="4" required>
                    {{- review.review_content -}}
                    </textarea>
                </div>
                <!-- submit button -->
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-secondary">
                        Save Changes <i class="fa-solid fa-pencil"></i>
                    </button>
                </div>
                <!-- back button -->
                <div class="d-grid gap-2 back-button mt-3">
                    <a href="{{ url_for('get_reviews') }}" class="btn btn-danger">
                        <i class="fa-solid fa-arrow-left"></i> Back to Reviews
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}