{% extends "base.html" %}
{% block content %}

<!-- Welcome image -->
<div class="p-4 mb-4 home-main-image text-center">
    <div class="container-fluid home-main-image-text">
        <h1>Welcome, Music Lover!</h1>
        {% if session.user %}
        <a href="{{ url_for('get_reviews') }}" class="btn btn-secondary btn-lg mt-2 remove-button-shadow">Browse Reviews</a>
        {% else %}
        <a href="{{ url_for('register') }}" class="btn btn-secondary btn-lg mt-2 remove-button-shadow">Register Here</a>
        <p class="have-account">Have an account? <a href="{{ url_for('login') }}"><strong>Login here</strong></a></p>
        {% endif %}
    </div>
</div>

<div class="container">
    <!-- Vibe Verdicts explanation -->
    <div class="row mb-3 justify-content-center">
        <div class="col-lg-10 text-center">
            <h2>What is Vibe Verdicts?</h2>
            <p class="text-center">Vibe Verdicts is a friendly, online community where you can share your music
                reviews, suggestions
                and criticisms. Have something to say about a particular song? This is the place to be!</p>
            <p>To view and create reviews, you'll need to register an account above. Then you'll unlock the full
                features of the site.</p>
        </div>
    </div>
    <hr>

{% endblock %}