{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col text-center">
            <h1>New Review</h1>
            <hr>
        </div>
    </div>
</div>

<!-- new review form -->
<div class="container">
    <div class="row justify-content-center mb-5">
        <div class="col-md-8">
            <form method="POST" action="{{ url_for('new_review') }}">
                <!-- select genre dropdown -->
                <div class="mb-3">
                    <i class="fa-solid fa-rectangle-list"></i>
                    <label for="genre-name">Music Genre</label>
                    <select class="form-select" id="genre-name" name="genre_name" required>
                        <option value="" disabled selected>Please select a genre...</option>
                        {% for genre in genres %}
                        <option value="{{ genre.genre_name }}">{{ genre.genre_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                 <!-- song name input -->
                 <div class="mb-3">
                    <i class="fa-solid fa-music"></i>
                    <label for="song-name" class="form-label">Song Name</label>
                    <input type="text" class="form-control" id="song-name" name="song_name" maxlength="60" required>
                </div>
                <!-- artist name input -->
                <div class="mb-3">
                    <i class="fa-solid fa-user-group"></i>
                    <label for="artist-name" class="form-label">Artist Name</label>
                    <input type="text" class="form-control" id="artist-name" name="artist_name" maxlength="60" required>
                </div>
{% endblock %}