{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col text-center">
            <h1>All Reviews</h1>
            <hr>
        </div>
    </div>
    <!-- Review search by song or artist name -->
    <form action="{{ url_for('search') }}" method="POST">
        <div class="mb-3 row justify-content-center">
            <div class="col-md text-center">
                <label for="search" class="col-form-label text-center"><h2 id="search-heading">Search</h2></label>
            </div>
            <div class="mb-3 row justify-content-center">
                <div class="col-md-6">
                    <input type="text" name="query" class="form-control text-center" id="search"
                        placeholder="Search songs or artists..." required>
                </div>
            </div>
            <div class="mb-3 row justify-content-center">
                <div class="col-md text-center">
                    <button type="submit" class="btn btn-secondary mx-2">Search <i
                            class="fa-solid fa-magnifying-glass ps-1"></i></button>
                    <a href="{{ url_for('get_reviews') }}" class="btn btn-danger">Reset <i
                                class="fa-solid fa-arrow-rotate-right"></i></a>
                </div>
            </div>
        </div>
    </form>

    {% endblock %}